.container {
  padding: 15px;
  background-color: #dcdcdc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Be Vietnam Pro';
}

.card {
  width: 100%;
  background-color: #ffffff;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 170px;
}

.card .body {
  padding: 10px;
  font-size: medium;
}

.title {
  font-size: larger;
}

.subtitle {
  margin-top: 0px;
  font-size: smaller;
  font-weight: lighter;
}

.profile {
  margin: 0px;
  display: flex;
  padding: 10px 0 0 10px;
}

.profile img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
}

.profile .name {
  line-height: 0.3;
  padding: 5px 20px;
}

.more {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none !important;
  font-size: smaller;
}
a:hover {
  text-decoration: underline !important;
  cursor: pointer;
}
